body {
  background-color: rgb(41, 41, 41);
  ;
  background-image: url("Images/red\ grey\ corners.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
}

header {
  color: whitesmoke;
  text-align: center;
  -webkit-text-stroke: 0.033em rgb(0, 0, 0);
  transition: opacity 3s ease-in 1s;
  opacity: 0;
  font-size: 5vh;
  line-height: 1.85vw;
}

header p {
  -webkit-text-stroke: 0.02em rgb(0, 0, 0);
  font-size: 0.83em;
}

#cv {
  border: 0.20vw solid black;
  margin: 0.34vw;
  padding: 0.34vw;
  display: grid;
  position: fixed;
  right: 2.08vw;
  top: 1.82vh;
  background-color: darkgray;
  padding: 0.69vw;
  z-index: 5;
  overflow: hidden;
  font-size: 1.11vw;
}

#lebenslauf {
  width: 15.2vw;
  height: 22.2vw;
}

#lebenslauf:hover {
  cursor: pointer;
}

#toggle {
  width: 1.38vw;
  position: absolute;
  right: 0px;
  margin: 0.69vw;
}

#toggle:hover {
  cursor: pointer;
}

#preview {
  position: relative;
  border: 0.20vw solid rgb(0, 0, 200);
  background-color: rgba(169, 169, 169, 0.6);
  margin: 1.38vw 18.2vh 1.38vw 18.2vh;
  padding: 0.34vw;
  width: 83%;
  height: 70%;
  margin: auto;
}

#example {
  display: flex;
  justify-content: center;
  align-self: center;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  height: fit-content;
}

#example iframe {
  width: 72.9vw;
  height: 52vw;
  transform: scale(0.8);
  margin: auto;
  margin-top: -6.09vh;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  border-radius: 0.69vw;
}

#example img {
  width: 72.9vw;
  height: 52vw;
  transform: scale(0.8);
  margin: auto;
  margin-top: -6.09vh;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  border-radius: 0.69vw;
}

.smooth {
  opacity: 0;
}

.arrow {
  width: 9.02vw;
  position: absolute;
  top: 19.0vw;
}

.arrow:hover {
  cursor: pointer;
}

#arrow1 {
  transform: rotate(180deg);
  left: 0.69vw;
}

#arrow2 {
  right: 0.69vw;
}

.container {
  position: relative;
  margin-top: 2.43vh;
}

#title {
  justify-content: center;
}

#projects {
  background-color: rgba(111, 111, 111, 0.6);
  margin: 2.43vw;
  padding: 0.69vw;
  text-align: center;
}

#projects p {
  color: rgb(255, 255, 255);
  font-size: 2vw;
}

#list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project {
  border: 0.41vw ridge white;
  box-shadow: 0 0 0 0.09vw red;
  border-radius: 0.69vw;
  height: 20.8vw;
  width: 27.7vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.65vh;
  background-size: cover;
}

.project:hover {
  cursor: pointer;
  border: 0.41vw ridge white;
  box-shadow: 0 0 0 0.18vw red;
  transform: scale(1.05);
  margin-top: 0px;
  margin-bottom: 3.65vh;
}

.project img {
  height: 100%;
  width: fit-content;
  width: 100%;
  filter: saturate(1) contrast(0.8);
  border-radius: 0.34vw;
}

.project img:hover {
  cursor: pointer;
  filter: saturate(1.5);
  border-radius: 0.34vw;
}

#download-button {
  margin: auto;
}

#download-button button {
  text-decoration: none;
  color: #000;
  width: 12.5vw;
  height: 2.08vw;
  font-size: 0.90vw;
  margin-top: auto;
}

#download-button button:hover {
  cursor: pointer;
  text-decoration: underline;
}

#redirect {
  margin-left: 34.7vw;
  font-size: 0.90vw;
  width: 12vw;
  height: 2vw;
}

#redirect:hover {
  cursor: pointer;
}

footer {
  border: 0.06vw solid lightgray;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: row;
  align-content: start;
  padding: 1.73vw;
  height: 12.1vw;
}

#reviews {
  border: 0.06vw solid black;
  background-color: rgba(240, 248, 255, 0.8);
  width: 50vw;
  height: fit-content;
  padding: 0.34vw;
}

#reviews h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.11vw;
}

#review {
  padding: 0.34vw;
  background-color: rgba(150, 158, 165, 1);
}

#text {
  font-size: 1.11vw;
}

#author {
  font-style: italic;
  color: whitesmoke;
  font-size: 1.11vw;
}

#icons {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

#icons label {
  color: white;
  font-size: 1.11vw;
}

#icons div {
  height: 8vw;
  width: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  height: 6.94vw;
  width: 6.94vw;
  background-color: whitesmoke;
}

.icon:hover {
  cursor: pointer;
}

@media (max-width: 249px) {
  .project {
    min-width: 200px;
    min-height: 150px;
  }
}

@media (min-width: 250px) {
  .project {
    min-width: 300px;
    min-height: 225px;
  }
}

@media (min-width: 500px) {
  .project {
    min-width: 400px;
    min-height: 300px;
  }
}