body {
  background-color:rgb(41, 41, 41);
  ;
  background-image: url("Images/red\ grey\ corners.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  color: whitesmoke;
  text-align: center;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  transition: opacity 3s ease-in 1s;
  opacity: 0;
  font-size: 30px;
  line-height: 30px;
}

header p {
  -webkit-text-stroke: 0.3px rgb(0, 0, 0);
  font-size: 25px;
}

#cv {
  border: 3px solid black;
  margin: 5px;
  padding: 5px;
  display: grid;
  position: fixed;
  right: 30px;
  top: 15px;
  background-color: darkgray;
  padding: 10px;
  z-index: 5;
  overflow: hidden;
}

<<<<<<< HEAD
#lebenslauf {
  width: 220px;
  height: 320px;
}

#lebenslauf:hover {
  cursor: pointer;
}

=======
>>>>>>> f4c165c9d3b3c060bd4fc4fe6c14e1807b073364
#toggle {
  width: 20px;
  position: absolute;
  right: 0px;
  margin: 10px;
}

#toggle:hover {
  cursor: pointer;
}

#preview {
  position: relative;
  border: 3px solid rgb(0, 0, 200);
  background-color: rgba(169, 169, 169, 0.6);
  margin: 20px 150px 20px 150px;
  height: 680px;
  padding: 5px;
  width: 1200px;
  margin: auto;
}

#example {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 1412px;
  height: 706px;
  -webkit-transform: scale(.25);
  -ms-transform: scale(.85);
  transform: scale(.85);
  -webkit-transform-origin: 0 0; 
  -ms-transform-origin: 0 0; 
  transform-origin: 0 0;
}

#example iframe {
  width: 1050px;
  height: 750px;
  margin: auto;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  border-radius: 10px;
}

#example img {
  width: 1050px;
  height: 750px;
  margin: auto;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  border-radius: 10px;
}

.smooth {
  opacity: 0;
}

.arrow {
  width: 130px;
  position: absolute;
  top: 260px;
}

.arrow:hover {
  cursor: pointer;
}

#arrow1 {
  transform: rotate(180deg);
  left: 10px;
}

#arrow2 {
  right: 10px;
}

.container {
  position: relative;
  margin-top: 20px;
}

#title {
  justify-content: center;
}

#projects {
  background-color: rgba(111, 111, 111, 0.6);
  margin: 35px;
  padding: 10px;
  text-align: center;
}

#projects p {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

#list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.project {
  border: 6px ridge white;
  box-shadow: 0 0 0 1pt red;
  border-radius: 10px;
  height: 300px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-size: cover;
}

.project:hover {
  cursor: pointer;
  border: 6px ridge white;
  box-shadow: 0 0 0 2pt red;
  height: 315px;
  width: 420px;
  margin-top: -10px;
  margin-bottom: 0px;
}

.project img {
  height: 100%;
  width: fit-content;
  width: 100%;
  filter: saturate(1) contrast(0.8);
  border-radius: 5px;
}

.project img:hover {
  cursor: pointer;
  filter: saturate(1.5);
  border-radius: 5px;
}

form {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 60% 40%;
  margin: auto;
  margin-top: 10px;
}

#download-button {
  width: 180px;
  height: 30px;
}

#download-button:hover {
  cursor: pointer;
}

#redirect {
  margin-left: 500px;
}

#redirect:hover {
  cursor: pointer;
}

footer {
  border: 1px solid lightgray;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  padding: 25px;
}

#reviews {
  border: 1px solid black;
  background-color: rgba(240, 248, 255, 0.8);
  width: 800px;
  height: 140px;
  padding: 5px;
}

#reviews h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

#review {
  padding: 5px;
  background-color: rgba(150, 158, 165, 1);
}

#author {
  font-style: italic;
  color: whitesmoke;
}

#icons {
  columns: 5;
  column-gap: 10px;
  margin-left: auto;
}

#icons label {
  color: white;
}

.icon {
  height: 100px;
  width: 100px;
  border: 1px solid white;
  background-color: whitesmoke;
}

.icon:hover {
  cursor: pointer;
}