#gameScreen {
  border: 1px solid black;
  background-color: aliceblue;
  align-self: center;
}

img {
  display: none;
}

body {
  background-color: bisque;
  display: flex;
  flex-direction: column;
}

#title {
  align-self: center;
  font-family: 'Russo One', sans-serif;
}