#category {
  min-width: 20vw;
  width: min-content;
  margin-top: 2.08vw;
}

#country {
  min-width: 24.3vw;
  width: min-content;
}

#container {
  margin-left: 3.47vw;
}

#content {
  margin-left: -2.08vw;
}

#tooltip {
  margin-top: 1.38vw;
}