.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.headerText {
  font-size: calc(2vmin);
}

#listContainer {
  display: flex;
  flex-direction: row;
}

.input {
  border: 1px solid red;
  text-align: center;
}

.listTitleInput {
  border: 1px solid red;
  margin-top: 30px;
  margin-bottom: 30px;
}

.list {
  margin: 30px;
  display: flex;
  flex-direction: column;
  border: 1px solid sandybrown;
  width: 300vw;
  height: fit-content;
  max-height: 80vh;
  overflow: scroll;
  overscroll-behavior: contain;
}

.listTitle {
  color: white;
  font-size: larger;
  font-weight: 'bold';
}

.checkList {
  height: fit-content;
  max-height: 10vh;
  overflow: scroll;
  scroll-behavior: auto;
  overscroll-behavior: contain;
}

.item {
  font-size: medium;
  border: 1px solid sandybrown;
  background-color: aliceblue;
  color: darkgrey;
  padding: 10px;
  height: fit-content;
}

.trashCan {
  height: 20px;
  width: 15px;
  cursor: pointer;
}

.arrowRight {
  height: 20px;
  width: 20px;
  margin-left: 10px;
  cursor: pointer;
}
.arrowUp {
  height: 20px;
  width: 20px;
  cursor: pointer;
  transform: rotate(270deg);
  margin-left: 10px;
  margin-right: 10px;
}
.arrowDown {
  height: 20px;
  width: 20px;
  cursor: pointer;
  transform: rotate(90deg);
  margin-left: 10px;
  margin-right: 10px;
}

.plusIcon {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.itemTitle {
  font-size: large;
  position: relative;
  color: #000;
}

.editIcon {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.checkListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
