body {
  background-color: darkgreen;
  position: absolute;
}

#content {
  height: 48.6vw;
  width: 97.2vw;
  padding: 0.694vw;
  display: flex;
  flex-direction: column;
}

#top {
  display: flex;
  margin-bottom: 2.08vw;
}

#buffer {
  width: 40%;
  height: 10.4vw;
  display: flex;
}

.buffer {
  border: 0.06vw solid lightgreen;
  width: 7.36vw;
  height: 10.1vw;
  margin: 0.694vw;
}

#picture {
  width: 6.94vw;
  height: 6.94vw;
  border: 0.06vw solid black;
  margin-left: auto;
  margin-top: 2.08vw;
}

#picture:hover {
  cursor: pointer;
}

#goal {
  width: 40%;
  height: 10.4vw;
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
}

.goal {
  border: 0.06vw solid lightgreen;
  width: 7.36vw;
  height: 10.1vw;
  margin: 0.694vw;
}

#field {
  position: relative;
}

.card {
  background-color: white;
  width: 6.94vw;
  height: 9.72vw;
  margin: 0.694vw;
  position: absolute;
  cursor: pointer;
  border: 0.06vw solid black;
}

#buffer1, #buffer2, #buffer3, #buffer4, #goal1, #goal2, #goal3, #goal4 {
  position: relative;
}

.arrived {
  position: absolute;
}

.buffered {
  position: absolute;
}

#hurra {
  text-align: center;
  font-size: 6.94vw;
  color: white;
  animation: opacityChange 2s ease-in;
}

@keyframes opacityChange {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

#restart {
  margin-left: 46.1vw;
  margin-bottom: -0.694vw;
  font-size: 1.11vw;
}

#restart:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}